### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
players_num = purchase_data.loc[:,["SN"]]
players_num = players_num.drop_duplicates()
players_count = players_num.count()
pd.DataFrame({"Total Players":players_count})

    Total Players
SN            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
item_price = purchase_data["Price"].mean()
total_revenue = purchase_data["Price"].sum()
purchase_num = purchase_data["Price"].count()
num_items = len(purchase_data["Item ID"].unique())
summary_data = pd.DataFrame({"Unique Items": num_items,
                            "Average Item Price":[item_price],
                            "Total Revenue":[total_revenue],
                            "Total Purchaces":[purchase_num]}).round(2)
summary_data

   Unique Items  Average Item Price  Total Revenue  Total Purchaces
0           183                3.05        2379.77              780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
players_demo = purchase_data.loc[:,["SN","Gender"]]
players_demo = players_demo.drop_duplicates()
gender_counts = players_demo["Gender"].value_counts()
gender_percent = (players_demo["Gender"].value_counts()/int(players_count))*100
summary_gender = pd.DataFrame({"Count":gender_counts,
                              "Percent":gender_percent}).round(2)
summary_gender

                       Count  Percent
Male                     484    84.03
Female                    81    14.06
Other / Non-Disclosed     11     1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gender_purchase = purchase_data.groupby(["Gender"]).sum()["Price"]
gender_avg = (gender_purchase/gender_counts).round(2)
gender_total = purchase_data.groupby(["Gender"]).count()["Price"]
average_price = purchase_data.groupby(["Gender"]).mean()["Price"].round(2)


pd.DataFrame({"Total Purchase ($)":gender_purchase,
             "Average Purchase Per Person ($)":gender_avg,
             "Total Purchases":gender_total,
             "Average Purchase ($)":average_price})

,Total Purchase ($),Average Purchase Per Person ($),Total Purchases,Average Purchase ($)
Gender,,,,
Female,361.94,4.47,113,3.20
Male,1967.64,4.07,652,3.02
Other / Non-Disclosed,50.19,4.56,15,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
age_num = purchase_data.loc[:,["SN","Age"]]
age_num = age_num.drop_duplicates()

age_bins = [0,9,19,29,39,200]
bin_labels = ["<10","10-20","20-30","30-40", "40+"]

age_num["Totals"] = pd.cut(age_num["Age"], age_bins, labels = bin_labels)
age_purchases = age_num["Totals"].value_counts()
age_percent = ((age_purchases/int(players_count))*100).round(2)
age_summary = pd.DataFrame({"Total players": age_purchases,
                          "Age Percent":age_percent})
age_summary.sort_index()

       Total players  Age Percent
<10               17         2.95
10-20            129        22.40
20-30            335        58.16
30-40             83        14.41
40+               12         2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
age_purchase = purchase_data.loc[:,["SN","Age", "Price"]]
purchase_bins = pd.cut(purchase_data["Age"], age_bins, labels = bin_labels)
age_purchase["Age Group"] = purchase_bins
bin_sums = age_purchase.groupby(["Age Group"]).sum()["Price"]
bin_counts = age_purchase.groupby(["Age Group"]).count()["Price"]
mean_bin = age_purchase.groupby(["Age Group"]).mean()["Price"].round(2)
avg_bin = (bin_sums/age_purchases).round(2)

bin_summary = pd.DataFrame({"Purchase Count by Age":bin_counts,
                           "Amount spent by Age ($)":bin_sums,
                           "Average Price by Age ($)":mean_bin,
                           "Average Purchase by Age($)": avg_bin})
bin_summary.sort_index()

,Purchase Count by Age,Amount spent by Age ($),Average Price by Age ($),Average Purchase by Age($)
10-20,164,495.67,3.02,3.84
20-30,466,1407.06,3.02,4.20
30-40,114,361.67,3.17,4.36
40+,13,38.24,2.94,3.19
<10,23,77.13,3.35,4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame